<h2>show region</h2>
<div>
  <ul>
    <li>
      <%= @region.id %>
    </li>
    <li>
      <%= @region.title %>
    </li>
  </ul>
</div>
<%= link_to "regions", admin_regions_path %>
<%= link_to "#{@region.title} cities", admin_region_cities_path(@region) %>
