

<p><%= category.title%></p>
<% if category.sub_categories.size > 0 %>
  <% category.sub_categories.each do |sub| %>
    <div>
      <ul>
        <li><%= render partial: "sub_category", locals: {category: sub, level: 1}%></li>
      </ul>
    </div>
  <% end %>
<% else %>
  <ul>
    <div>
      <% category.services.each do |service| %>
        <div>
          <li>
            <%= service.title %>
          </li>
        </div>
      <% end %>
    </div>
  </ul>
<% end %>
