- if @merchant_page.errors
  - @merchant_page.errors.full_messages.each do |error|
    p
      = error
div[style="text-align:center"]
  h4
    | здесь Вы можете добавлять галереи и прикреплять к ним фото ваших работ
  h5
    | максимум 6 галерей и по 8 фотографий в каждой
= nested_form_for @merchant_page, url: cabinet_galery_path, method:"post" do |page|
  .row[style="margin-left: 0"]
    = page.fields_for :galeries do |galery|
      .galery_block.col-lg-4
        .row
          .galery_title.form-group.col-lg-8.col-lg-offset-1
            = galery.text_field :title, placeholder: "введите название галереи", class:"form-control"
          .galery_delete.col-lg-1
            = galery.link_to_remove "", class:"glyphicon glyphicon-remove btn btn-danger"
        .row.merchant_galery_images
          = galery.fields_for :images do |image|
            .col-lg-3[style="text-align:center"]
              div
                - if image.object.image.exists?
                  = image_tag image.object.image.url(:thumb)
                - else
                  img[src="plus.png" alt="" height="64px" width="64px"]
              label.file_upload
                span.button
                  | Выбрать
                mark
                  | Файл не выбран
                = image.file_field :image
              = image.link_to_remove "", class:"glyphicon glyphicon-arrow-up btn btn-danger", data: { confirm: "точно удалить эту картинку?"}
          .add_image_to_galery
            = galery.link_to_add "+ image", :images, class:"btn btn-info"
    = page.link_to_add "+ галерею", :galeries, class:"btn btn-default", id:"add_galery"
  .form-group
    = page.submit "сохранить", class:"form-control btn btn-success"
