= simple_form_for @merchant_page, url: cabinet_main_path, method:"post", multipart: true do |page|
  .tab-content
    #home.tab-pane.fade.in.active
      .row
        .col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-10.col-sm-offset-1
          .form-group
            h4
              label.label.label-primary[for="company_name"]
                | название вашей компании
            = page.text_field :company_name, class:"form-control", placeholder: "введите имя компании"
          = page.text_field :approved, type:"hidden", value: "true"
          .form-group
            h4
              label.label.label-primary[for="company_logo"]
                | фото или лого
            = image_tag @merchant_page.company_logo.url(:original) if @merchant_page.company_logo.exists?
            = page.file_field :company_logo
          .form-group
            h4
              label.label.label-primary[for="phone"]
                | номер телефона
            = page.text_field :phone, class:"form-control", placeholder: "097-****-***"
          .form-group
            h4
              label.label.label-primary[for="description"]
                | ваше описание
            = page.text_area :description, class:"form-control", placeholder: "описание", style: "height:200px"
  .form-group
    = page.submit "сохранить", class: "btn btn-success form-control"
