// Place all the styles related to the adverts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* new and edit action */
.advert_form {
  padding-top: 30px;
}

.adverts_block:hover {
  background-color: rgba(0,0,0, .05);
  cursor: pointer;
}

.adverts_block {
  border-bottom: 1px solid grey;
  padding-top: 10px;
  height: 170px;
}

.cities_list {
  margin: 0 0;
  padding: 3px 3px;
  list-style-type: none;
  margin-top: 10px;
  border: 1px solid grey;
  height: 100px;
  overflow: auto;
  border-radius: 3px;
  z-index: 10;
  border-bottom: 1px solid grey;
  & li {
    cursor: pointer;
  }
  & li:hover {
    background-color: #ECECEC
  }
}

/* show action */
.show_advert_block, .show_advert_user_block {
  padding-top: 25px;
}

.failed_search_form {
  border: 2px solid red;
}

.show_advert_title {
  font-weight: 600;
}

.show_advert_price, .show_advert_description, .show_advert_title {
  padding-bottom: 15px;
}
